<div class="main blessure-thresholds" data-id="{{actorId}}">
    <label>
        <input type="checkbox" name="etendu" {{#if etendu}}checked{{/if}}>
        {{localize 'PROPHECY.ATTRIBUTSMINEURS.BLESSURES.ExtendedMode'}}
    </label>

    <div class="header">
        <span class="header">{{localize 'PROPHECY.ATTRIBUTSMINEURS.BLESSURES.DefaultLabel'}}</span>
        <span class="header">{{localize 'PROPHECY.ATTRIBUTSMINEURS.BLESSURES.CustomLabel'}}</span>
        <span class="header">{{localize 'PROPHECY.ATTRIBUTSMINEURS.BLESSURES.MaxThreshold'}}</span>
        <span class="header">{{localize 'PROPHECY.ATTRIBUTSMINEURS.BLESSURES.Boxes'}}</span>
    </div>

    {{#each thresholds}}
    <div class="treshold" data-type="{{type}}">
        <span>{{defaultLabel}}</span>
        <input class="threshold-label extended-field" type="text" value="{{label}}">
        <input class="threshold-max extended-field" type="number" min="0" value="{{max}}">
        <input class="threshold-value" type="number" min="0" value="{{value}}">
    </div>
    {{/each}}
</div>