section.header {
    display:grid;
    height: 210px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: max-content 1fr;
    align-items: flex-start;
    align-content:flex-start;

    grid-gap: 5px;
    padding: 5px;
    border-radius: 5px;

    background:$brown;

    img {
        grid-row: 1 / 4;
        width: 100%;
        border-radius: 5px;
        background-size:contain;
        border-color: $darkbrown;
    }

    input,
    select {
        min-width: 0px;
        background:transparent;
        padding:0px;
        padding-top: 2px;
        text-align: center;

        color:$black;

        border-radius: 0px;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-color: $darkbrown;

        margin-bottom: 2px;
        height: 18px;

        &.itmName {
            font-size: 22px;
            padding-top: 0px;
            height: 30px;
        }
    }

    div {
        &.main {
            display: grid;
            grid-template-columns: repeat(4, 150px);
            grid-gap: 5px;
            align-items: flex-start;
            align-content: flex-start;

            &.large {
                grid-template-columns: repeat(2, max-content) 1fr;
            }

            div.col {
                display: grid;
                grid-template-columns: 1fr;
                align-items: flex-start;
                align-content: flex-start;

                div.line {
                    display: grid;
                    grid-template-columns: max-content 1fr;
                    grid-gap: 5px;
                }
            }
        }

        &.underMain {
            display: grid;
            grid-template-columns: max-content 1fr;
            align-items: flex-start;
            align-content: flex-start;

            div {
                &.initiative {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 2px;
                    border: 1px solid $darkbrown;
                    border-radius: 5px;
                    padding: 5px;

                    span {
                        &.header {
                            grid-column: 1 / 3;
                            font-size: 17px;
                            text-align: center;
                            font-variant: small-caps;
                            font-weight: bold;
                        }
                    }

                    label {
                        display: grid;
                        grid-template-columns: 1fr;

                        span {
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }
        }

        &.dommages {
            display: grid;
            grid-template-columns: 1fr;
            align-items: flex-start;
            align-content: flex-start;
            border: 1px solid $darkbrown;
            border-radius: 5px;

            input, select {
                border: 0px;
            }

            >span {
                font-size: 17px;
                text-align: center;
                font-variant: small-caps;
                font-weight: bold;
            }

            div.line {
                display: grid;
                grid-template-columns: max-content max-content 50px max-content 50px max-content 75px;
                grid-gap: 5px;
                justify-content: center;

                span {
                    font-weight: bold;
                    font-variant: small-caps;
                    text-align: center;
                    font-size: 19px;
                    line-height: 18px;
                    height: 18px;
                }

                &.full {
                    grid-template-columns: 1fr;

                    select {
                        border-top: 1px solid $darkbrown;
                        font-variant: small-caps;
                        height: 20px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    h1 {
        grid-column: 1 / 5;

        border: 0px;
        margin: 0px;
        padding: 0px;
        font-variant: small-caps;
        font-weight: bold;
        font-size: 18px;
    }

    label {
        display: grid;
        grid-template-columns: 1fr 50px;
        grid-gap: 5px;
        align-items: flex-end;

        span {
            font-weight: bold;
        }

        input {
            text-align: center;
        }

        &.type {
            grid-template-columns: 1fr 180px;
        }

        &.poids,
        &.usure {
            display: grid;
            grid-template-columns: max-content 61px;

            input {
                width: 100%;
            }
        }

        &.cout {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0px;
            border: 1px solid $darkbrown;
            border-radius: 5px;

            span {
                font-size: 17px;
                text-align: center;
                font-variant: small-caps;
                font-weight: bold;
            }

            input {
                border: 0px;
                text-align: center;
            }
        }

        &.portee {
            display: grid;
            grid-template-columns: max-content 1fr;

            input {
                width: 100%;
            }
        }
    }
}

section.body {
    div {
        &.statistiques div.data {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5px;
            background: $brown;
            padding: 5px;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            margin-top: 5px;

            label {
                display: grid;
                grid-template-columns: 1fr;
                align-items: flex-start;
                align-content: flex-start;

                span {
                    font-variant: small-caps;
                    font-weight: bold;
                    text-align: center;
                    font-size: 18px;
                }

                input,
                select {
                    min-width: 0px;
                    background:transparent;
                    padding:0px;
                    padding-top: 2px;
                    text-align: center;

                    color:$black;

                    border-radius: 0px;
                    border-top: 0px;
                    border-right: 0px;
                    border-left: 0px;
                    border-color: $darkbrown;

                    margin-bottom: 2px;
                    height: 18px;
                }
            }
        }
    }
}