<div class="blessures">
    <h1>
        {{localize 'PROPHECY.ATTRIBUTSMINEURS.BLESSURES.Label'}}
        {{#if (eq actor.type 'pnj')}}
            <i class="fas fa-edit editBlessure" title="{{localize 'PROPHECY.EDIT.Seuil'}}"></i>
        {{/if}}
    </h1>

    {{#each blessureDisplayData as |entry|}}
    <div class="data">
        <i class="fa-solid fa-skull clickable" data-type="blessure" data-value="{{entry.type}}" title="{{localize 'PROPHECY.ATTRIBUTSMINEURS.BLESSURES.Subir'}}"></i>
        <i class="fa-solid fa-heart clickable" data-type="heal" data-value="{{entry.type}}" title="{{localize 'PROPHECY.ATTRIBUTSMINEURS.BLESSURES.Soin'}}"></i>
        <span class="label">{{entry.label}}</span>
        <span class="sublabel">{{entry.range}}</span>

        <div class="check">
            {{#each entry.check as |kBle Blist|}}
                <i class="{{ifThen kBle 'fa-solid' 'fa-light'}} fa-circle"></i>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>