<form class="mainFlex {{cssClass}}" autocomplete="off">
    <section class="header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        <input name="name" class="itmName" type="text" value="{{data.name}}" placeholder="{{localize "PROPHECY.Nom"}}" />

        <label>
            <span>{{localize 'PROPHECY.Cout'}} :</span>
            <input type="number" name="system.cout" value="{{systemData.cout}}" />
        </label>
    </section>

    <section class="body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="tabs menu" data-group="primary">
            <a class="item" data-tab="description">
                {{localize "PROPHECY.Description"}}

                <i class="fa-solid fa-check"></i>
            </a>

            <a class="item" data-tab="effets">
                {{localize "PROPHECY.Effets"}}

                <i class="fa-solid fa-check"></i>
            </a>
        </nav>

        <div class="tab description" data-group="primary" data-tab="description">
            {{> systems/prophecy-2e/templates/parts/description.html txt=systemData.description address='system.description' }}
        </div>

        {{> systems/prophecy-2e/templates/parts/effets.html }}
    </section>
</form>