<form class="mainFlex {{cssClass}}" autocomplete="off">
    <section class="header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        <input name="name" class="itmName" type="text" value="{{data.name}}" placeholder="{{localize "PROPHECY.Nom"}}" />
    </section>

    <section class="body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="tabs menu" data-group="primary">
            <a class="item" data-tab="description">
                {{localize "PROPHECY.Description"}}

                <i class="fa-solid fa-check"></i>
            </a>

            <a class="item" data-tab="mentalite">
                {{localize "PROPHECY.Mentalite"}}

                <i class="fa-solid fa-check"></i>
            </a>

            <a class="item" data-tab="organisation">
                {{localize "PROPHECY.Organisation"}}

                <i class="fa-solid fa-check"></i>
            </a>

            <a class="item" data-tab="carriere">
                {{localize "PROPHECY.OptiqueCarriere"}}

                <i class="fa-solid fa-check"></i>
            </a>

            <a class="item" data-tab="interdit">
                {{localize "PROPHECY.Interdits"}}

                <i class="fa-solid fa-check"></i>
            </a>

            <a class="item" data-tab="statuts">
                {{localize "PROPHECY.Statuts"}}

                <i class="fa-solid fa-check"></i>
            </a>

            <a class="item" data-tab="privileges">
                {{localize "PROPHECY.Privileges"}}

                <i class="fa-solid fa-check"></i>
            </a>

            <a class="item" data-tab="annexes">
                {{localize "PROPHECY.PrivilegesAnnexes"}}

                <i class="fa-solid fa-check"></i>
            </a>

            <a class="item" data-tab="effets">
                {{localize "PROPHECY.Effets"}}

                <i class="fa-solid fa-check"></i>
            </a>
        </nav>

        <div class="tab description" data-group="primary" data-tab="description">
            {{> systems/prophecy-2e/templates/parts/description.html txt=systemData.description address='system.description' }}
        </div>

        <div class="tab description" data-group="primary" data-tab="mentalite">
            {{> systems/prophecy-2e/templates/parts/description.html txt=systemData.mentalite address='system.mentalite' }}
        </div>

        <div class="tab description" data-group="primary" data-tab="organisation">
            {{> systems/prophecy-2e/templates/parts/description.html txt=systemData.organisation address='system.organisation' }}
        </div>

        <div class="tab description" data-group="primary" data-tab="carriere">
            {{> systems/prophecy-2e/templates/parts/description.html txt=systemData.carriere address='system.carriere' }}
        </div>

        <div class="tab description" data-group="primary" data-tab="interdit">
            {{> systems/prophecy-2e/templates/parts/description.html txt=systemData.interdits address='system.interdits' }}
        </div>

        {{> systems/prophecy-2e/templates/parts/statuts.html}}
        {{> systems/prophecy-2e/templates/parts/privileges.html tab='privileges' address='privileges' list=systemData.privileges
        txtAdd=(localize 'PROPHECY.ADD.Privilege') txtCheck=(localize 'PROPHECY.CHECK.Privilege') txtDelete=(localize 'PROPHECY.DELETE.Privilege')}}
        {{> systems/prophecy-2e/templates/parts/privileges.html tab='annexes' address='annexes' list=systemData.annexes
        txtAdd=(localize 'PROPHECY.ADD.PrivilegeAnnexe') txtCheck=(localize 'PROPHECY.CHECK.PrivilegeAnnexe') txtDelete=(localize 'PROPHECY.DELETE.PrivilegeAnnexe')}}
        {{> systems/prophecy-2e/templates/parts/effets.html }}
    </section>
</form>